

.aaa{
    height: 100vh;
}

.navbar-nav{
    height: 500px;
    gap: 50px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    
}

.nav-link{
    font-size: 30px;
}