.container__contact{
    height: 700px;
    background-color: chocolate;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes p{

    font-size: 50px;
    font-weight: 700;

}