<a href="javascript:;" class="btn">
    <span></span>
    <span></span>
</a>

<div class="menu">
    <ul class="lista-menu">
        <li class="item-menu">
            <a href="#" class="link-menu">Home</a>
        </li>
        <li class="item-menu">
            <a href="#" class="link-menu">Birras</a>
        </li>
        <li class="item-menu">
            <a href="#" class="link-menu">Galería</a>
        </li>
        <li class="item-menu">
            <a href="#" class="link-menu">Contacto</a>
        </li>
    </ul>
</div>