<nav id="navbar">
    <div class="logo"><i class="fa-solid fa-beer-mug-empty"></i></div>
        <div class="maldita"><p>Maldita Birra</p></div>
    <div class="openMenu"><i class="fa fa-bars"></i></div>
    <ul class="mainMenu">
        <li><a href="#">Home</a></li>
        <li><a href="#">Nosotros</a></li>
        <li><a href="#">Birras</a></li>
        <li><a href="#">Galería</a></li>
        <li><a href="#">Contacto</a></li>
        <div class="closeMenu"><i class="fa fa-times"></i></div>
        <span class="icons">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-youtube"></i>
        </span>
    </ul>
</nav>
