* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}


nav p {
    font-size: 2rem;
}

nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 85px;
}

nav .logo {
    color: #fff;
margin-left: 10px;
margin-bottom: 15px;
cursor: pointer;
}

nav .mainMenu {
    display: flex;
    list-style: none;
    height: 80px;

}

nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5rem;
}

nav .mainMenu li a:hover {
    background-color: #fff;
    color: black;

}

nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    /* display: none;   */
    cursor: pointer;
    position: relative;
    top: -100px;
}

nav .mainMenu .closeMenu,
.icons i {
    display: none;
    cursor: pointer;
}




/* responsive */

@media (max-width:980px) {}

@media (max-width:800px) {
    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        /* z-index: -5; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgb(0, 0, 0);
        transition: top 1s ease;
        display: none;
    }


    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 8px;
        right: 42px;
        color: white;
        font-size: 50px;
    }

    nav .openMenu {
        display: block;
        color: rgb(255, 255, 255);
        position: absolute;
        top: -5px;
        right: 20px;

    }

    nav .mainMenu li a:hover {
        background: none;
        color: #fff;
        font-style: 1.6rem;
    }

    nav .icons i {
        display: inline-block;
        padding: 12px;
        color: white;
}
}