<!-- <p>Gallery works!</p> -->

<div class="container__gallery">
    <div class="gallery">
        <div class="beer">
            <div class="info__content">

                <div class="texto__banner">
                    <h2>CERVEZAS</h2>
                </div>
                <div class="subtitulo__banner">
                    <h3>¡Elegí tu #MalditaBirra favorita!</h3>
                </div>
                <div class="boton__cervezas">
                    <button class="btn boton"><p>Ver Estilos</p></button>
                </div>

            </div>
            
        </div>
        <div class="merchandising">
            <div class="info__content">

                <div class="texto__banner">
                    <h2>MERCHANDISING</h2>
                </div>
                <div class="subtitulo__banner">
                    <h3>¡Nuestro merchandising te acompaña a donde quieras que vayas!</h3>
                </div>
                <div class="boton__cervezas">
                    <button class="btn boton"><p>Ver Estilos</p></button>
                </div>

            </div>
        </div>
        <div class="packs">
            <div class="info__content">

                <div class="texto__banner">
                    <h2>COMIDAS</h2>
                </div>
                <div class="subtitulo__banner">
                    <h3>¡El mejor acompañamiento para una #MalditaBirra es una buena comida!</h3>
                </div>
                <div class="boton__cervezas">
                    <button class="btn boton"><p>Ver Estilos</p></button>
                </div>

            </div>
        </div>
    </div>
</div>