.container__gallery{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.beer{
    width: 370px;
    height: 370px;
    background-repeat : no-repeat;
    background-size :cover;
    background: linear-gradient(rgba(5, 7, 12, 0.40), rgba(5, 7, 12, 0.40)),
    url("https://i.imgur.com/zr6Cei3.jpg");
    background-repeat : no-repeat;
    background-size :cover;
    background-position: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
    border-radius: 10px;


}

.merchandising{
    width: 370px;
    height: 370px;
    background-repeat : no-repeat;
    background-size :cover;
    background: linear-gradient(rgba(5, 7, 12, 0.30), rgba(5, 7, 12, 0.30)),
    url("https://i.imgur.com/v6NXupx.png");
    background-repeat : no-repeat;
    background-size :cover;
    background-position: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
    border-radius: 10px;

}

.packs{
    width: 370px;
    height: 370px;
    background-repeat : no-repeat;
    background-size :cover;
    background: linear-gradient(rgba(5, 7, 12, 0.40), rgba(5, 7, 12, 0.40)),
    url("https://i.imgur.com/BLvRQUf.png");
    background-repeat : no-repeat;
    background-size :cover;
    background-position: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
    border-radius: 10px;

}
.info__content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
    height: 200px;

}

.texto__banner h2{
    color: #fff;
    font-weight: 700;
    font-size: 34px;
}

.texto__banner{
    margin-top: 20px;
}
.subtitulo__banner{
    width: 90%;
    margin: auto;
    height: 40px;
    margin-top: 10px;
    
    


}
.subtitulo__banner h3{
    font-size: 14px;
    color: #fff;
    text-align: center;
    
}


.boton{
    background-color: rgb(34, 34, 31);
    color: #fff;
    opacity: 0.8;
    
    
    
}

.boton p{
    margin:auto
}








/* Extra small devices (phones, 480px and down) */
@media only screen and (max-width: 480px) {

    .container__gallery{
        height: 1200px;
    }

    .gallery{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    


}
/* Small devices (portrait tablets and large phones, 481px and 768px) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .container__gallery{
        height: 1400px;
    }

    .gallery{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .beer{
        width: 400px;
        height: 400px;
    }

    .merchandising{
        width: 400px;
        height: 400px;
    }

    .packs{
        width: 400px;
        height: 400px;
    }

}
/* Medium devices (landscape tablets, 768px and 1024px) */
@media only screen and (min-width: 768px) and (max-width: 1024px){
    .container__gallery{
        height: 1200px;
    }

    .gallery{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .beer{
        width: 370px;
        height: 370px;
    }

    .merchandising{
        width: 370px;
        height: 370px;
    }

    .packs{
        width: 370px;
        height: 370px;
    }
}

/* Largue devices ( landscape desktop, 1025px and 1200px) */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .container__gallery{
        height: 700px;
    }

    .gallery{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .beer{
        width: 350px;
        height: 350px;
    }

    .merchandising{
        width: 350px;
        height: 350px;
    }

    .packs{
        width: 350px;
        height: 350px;
    }
}