
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.navbar-nav{
    font-family: 'Righteous', cursive;
    text-transform: uppercase;
    
}



@media only screen and (max-width: 480px){
    .navbar-nav{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;

    }

    .navbar-nav .nav-item .nav-link{
        font-size: 20px;
    }
   
}

@media only screen and (max-width:880px){
.navbar-nav{
    height: 100vh   ;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;

}
}

@media only screen and (max-width:991px){
    .navbar-nav{
        height: 100vh   ;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        font-size: 60px;
        color: black;
    
    }
    }

@media only screen and (max-width: 480px) {
    .navbar-nav{
        height: 90vh;
        gap: 50px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: aquamarine;
        
    }
    
    .nav-link{
        font-size: 30px;
    }
}


