<!-- <p>navbar works!</p> -->

<nav id="navbar" class="navbar navbar-fixed-top">
    <div class="logo"><i class="fa-solid fa-beer-mug-empty" (click)="homeTo()"></i></div>
    <div class="maldita"><p>Maldita Birra</p>
    </div>
    <div class="openMenu"><i class="fa fa-bars"></i></div>

        <ul class="mainMenu">
            <li><a (click)="homeTo()">Home</a></li>
            <li><a (click)="footerTo()">Nosotros</a></li>
            <li><a (click)="beerTo()">Birras</a></li>
            <li><a (click)="galleryTo()">Galería</a></li>
            <li><a (click)="contactTo()">Contacto</a></li>
            <div class="closeMenu"><i class="fa fa-times"></i></div>
            <span class="icons">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-youtube"></i>
            </span>
        </ul>

    
</nav>