<!-- <p>navbar works!</p> -->

<!-- 
<div class="aaa">
    <nav class="navbar navbar-expand-lg navbar-light bg-black position-fixed w-100">
        <div class="container-fluid">
          <a class="navbar-brand text-warning" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon navbar-dark"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-around" id="navbarNav">
            <ul class="navbar-nav gap-5 fs-5">
              <li class="nav-item">
                <a class="nav-link text-light" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="#">Nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="#">birras</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="#">galería</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="#">contacto</a>
              </li>
              
            </ul>
          </div>
        </div>
      </nav>
</div> -->
<!-- <nav id="navbar" class="navbar navbar-fixed-top">
    <div class="logo"><i class="fa-solid fa-beer-mug-empty" (click)="homeTo()"></i></div>
    <div class="maldita"><p>Maldita Birra</p>
    </div>
    <div class="openMenu"><i class="fa fa-bars"></i></div>
    <ul class="mainMenu">
        <li><a (click)="homeTo()">Home</a></li>
        <li><a (click)="footerTo()">Nosotros</a></li>
        <li><a (click)="beerTo()">Birras</a></li>
        <li><a (click)="galleryTo()">Galería</a></li>
        <li><a (click)="contactTo()">Contacto</a></li>
        <div class="closeMenu"><i class="fa fa-times"></i></div>
        <span class="icons">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-youtube"></i>
        </span>
    </ul>
</nav> -->



<div class="aaa">
    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
        <div class="container-fluid d-flex justify-content-end">
            <a class="navbar-brand text-black" href="#">Maldito Birra</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-black" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-black" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-black" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-black" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>