<!-- <p>header works!</p> -->
<div class="container__header">


  
    
    <div class="container__content">

        <div class="container__title">
            <div class="title">
            <h1>Malditen Birra</h1>
            </div>
            <div class="subtitle">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam deserunt exercitationem numquam assumenda magni voluptas quisquam, nam molestiae autem dicta cumque minima ex possimus debitis at ducimus neque asperiores nulla.</p>

            

        </div>

    </div>

   



</div>